@mixin font-decoration($font-weight, $font-size, $line-height, $text-align, $opacity) {
    font-family: Roboto;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-align: $text-align;
    color: $title-color;
    opacity: $opacity;
}