$black: #0a0a0a;
$blackish: #121212;
$white: #FFFFFF;

//colors
$bg-color: $black;
$title-color: $white;
$section-color: $blackish;

//font-sizes
$big-title: 3em;
$small-title: 2em;
$plan-title: 14px;
$plan-text: 18px;
$menu-text: 16px;
$plus-title: 24px;
$card-text: 36px;
