@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-transition: 2s;
  transition: 2s;
}

.button {
  background: transparent;
}

.button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 869px) {
  h2 {
    font-size: 3em;
  }
}

@media (min-width: 550px) and (max-width: 868px) {
  h2 {
    font-size: 2em;
  }
}

@media (max-width: 549px) {
  h2 {
    font-size: 1.3em;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 850px) {
  .title-area {
    margin: 0 auto;
  }
}

section {
  width: 70%;
  margin: 10% 15%;
  background-color: #0a0a0a;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}

@media (max-width: 850px) {
  .section-logo {
    display: none;
  }
}

.social {
  display: -ms-grid;
  display: grid;
  margin: 10% auto 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 421px) {
  .social {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .social {
    width: 210px;
  }
}

.social:hover {
  cursor: pointer;
}

.social-icon {
  width: 50px;
  height: 50px;
}

.vk-icon {
  background-image: url("../pics/social/vk.png");
}

.fb-icon {
  background-image: url("../pics/social/fb.png");
}

.youtube-icon {
  background-image: url("../pics/social/youtube.png");
}

.insta-icon {
  background-image: url("../pics/social/insta.png");
}

.header {
  background-image: url("../pics/header/header-bg.png");
  background-size: cover;
  max-width: 1920px;
  height: 960px;
}

.header-central {
  width: 45%;
  margin-top: 5%;
  margin-left: 15%;
}

.header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 140%;
  color: #FFFFFF;
}

@media (min-width: 869px) {
  .header-title {
    font-size: 64px;
  }
}

@media (min-width: 550px) and (max-width: 868px) {
  .header-title {
    font-size: 2em;
  }
}

@media (max-width: 549px) {
  .header-title {
    font-size: 1.3em;
  }
}

.header-nav {
  grid-area: header-nav;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 888px) {
  .header-nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 887px) {
  .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-button {
  margin: 0 auto;
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.header-button-area {
  grid-area: header-button;
}

.header-countdown {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (1fr)[auto-fill];
      grid-template-columns: repeat(auto-fill, 1fr);
}

.header-countdown-box {
  width: 102px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121212;
}

.navbar {
  width: 100%;
  padding-top: 1%;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1300px) {
  .navbar {
    -ms-grid-columns: 0.7fr 2fr 0.8fr;
        grid-template-columns: 0.7fr 2fr 0.8fr;
        grid-template-areas: "navbar-logo header-nav header-button";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 888px) and (max-width: 1299px) {
  .navbar {
    -ms-grid-columns: 0.08fr 2fr 0.3fr;
        grid-template-columns: 0.08fr 2fr 0.3fr;
        grid-template-areas: "navbar-logo header-nav header-button";
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 887px) {
  .navbar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "navbar-logo" "header-nav" "header-button";
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navbar-logo {
  grid-area: navbar-logo;
}

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.day {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #FFFFFF;
}

.timing {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.4;
}

.main-container {
  background-color: #0a0a0a;
  width: 100vw;
  max-width: 1920px;
}

.order {
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  background-color: #121212;
}

@media (min-width: 1501px) {
  .order {
    -ms-grid-columns: 17% 20% 1fr;
        grid-template-columns: 17% 20% 1fr;
        grid-template-areas: "order-button students earn";
  }
}

@media (min-width: 701px) and (max-width: 1500px) {
  .order {
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
    -ms-grid-rows: 1fr 1.5fr;
        grid-template-rows: 1fr 1.5fr;
        grid-template-areas: "order-button students"  "earn earn";
  }
}

@media (max-width: 700px) {
  .order {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "order-button" "students"  "earn";
  }
}

.order-wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #121212;
}

.order-button {
  grid-area: order-button;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 701px) {
  .order-button {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .order-button {
    margin: 0 auto;
  }
}

.students {
  grid-area: students;
  margin-right: 5%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 58px;
}

.students-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.students-total-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.4;
}

.students-total-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.students-finish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.students-finish-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.4;
}

.students-finish-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.earn {
  grid-area: earn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 58px;
}

.earn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 701px) {
  .earn-container {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .earn-container {
    width: 100%;
  }
}

.earn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.4;
}

.earn-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.earn-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.earn-line-gradient {
  height: 6px;
  width: 40%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.earn-line-white {
  height: 6px;
  width: 60%;
  background-color: white;
}

.earn-scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.earn-scale-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.4;
}

.about {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1450px) {
  .about {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 1449px) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media (min-width: 1450px) {
  .about-area {
    margin-left: 10%;
    width: 75%;
  }
}

@media (max-width: 1449px) {
  .about-area {
    margin-left: 1%;
    width: 100%;
  }
}

@media (min-width: 756px) {
  .about-pics {
    width: 526px;
    height: 499px;
    background-image: url("../pics/about/rectangle.png");
    position: relative;
  }
}

@media (max-width: 755px) {
  .about-pics {
    background: transparent;
    width: 100%;
    position: static;
  }
}

.about-computer {
  position: absolute;
  top: 95px;
  left: 40px;
}

@media (max-width: 755px) {
  .about-computer {
    width: 100%;
    height: auto;
    position: static;
  }
}

.about-title {
  text-align: left;
}

.about-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.start-description {
  width: 100%;
  max-width: 410px;
}

.start-description-text {
  margin-bottom: 3%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
}

.start-area {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  grid-gap: 0;
}

@media (min-width: 1000px) {
  .start-area {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
  }
}

@media (min-width: 752px) and (max-width: 999px) {
  .start-area {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 751px) {
  .start-area {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.start-percent {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #FFFFFF;
}

@media (min-width: 751px) {
  .start-percent {
    margin: 0;
  }
}

.start-percent-image {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 725px) {
  .start-percent-image {
    margin-bottom: 10%;
  }
}

@media (min-width: 751px) {
  .start-percent-image {
    margin-bottom: 1%;
  }
}

.start-area-item {
  width: 100%;
}

.start-percent-image {
  width: 100%;
}

.start-line {
  width: 100%;
}

.start-percent1000 {
  height: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.start-percent75 {
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.start-percent50 {
  height: 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.start-percent-total {
  height: 10px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.start-area-text {
  margin-right: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
}

.pluses-title {
  margin-bottom: 5%;
}

.pluses-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 1450px) {
  .pluses-area {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 700px) and (max-width: 1449px) {
  .pluses-area {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 0 20%;
  }
}

@media (max-width: 699px) {
  .pluses-area {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 0 5%;
  }
}

.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plus img {
  margin: 0 auto;
  margin-bottom: 5%;
  width: 100px;
  height: 100px;
}

.plus-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.plus-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}

.partners-logo {
  margin-right: 15px;
  margin-left: 25px;
}

.partners-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (min-width: 1420px) {
  .partners-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 801px) and (max-width: 1419px) {
  .partners-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .partners-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: ()[1fr];
        grid-template-rows: repeat(1fr);
  }
}

.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner img {
  width: 198px;
  height: 93px;
}

@media (min-width: 1420px) {
  .desktop-right {
    border-right: 5px solid rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 1420px) {
  .desktop-underline {
    border-bottom: 5px solid rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 801px) and (max-width: 1419px) {
  .tablet-right {
    border-right: 5px solid rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 801px) and (max-width: 1419px) {
  .tablet-underline {
    border-bottom: 5px solid rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 800px) {
  .mobile-underline {
    border-bottom: 5px solid rgba(255, 255, 255, 0.3);
  }
}

.plan {
  margin: 0 auto;
}

.plan-central {
  text-align: center;
  margin-bottom: 3%;
}

.plan-description {
  margin: 0 auto;
  max-width: 411px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}

.week {
  max-width: 304px;
  min-height: 118px;
}

.week-container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 930px) {
  .week-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: minmax(200px, 304px) 7px minmax(200px, 304px);
        grid-template-columns: minmax(200px, 304px) 7px minmax(200px, 304px);
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: "week1 weekline empty1" "empty2 weekline week2" "week3 weekline empty3" "empty4 weekline week4" "week5 weekline empty5" "empty6 weekline week6" "week7 weekline empty7";
  }
}

@media (max-width: 929px) {
  .week-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 7px minmax(200px, 304px);
        grid-template-columns: 7px minmax(200px, 304px);
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: "weekline week1" "weekline week2" "weekline week3" "weekline week4" "weekline week5" "weekline week6" "weekline week7";
  }
}

.week-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
}

.week-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}

.week-line {
  width: 6px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  grid-area: weekline;
}

@media (min-width: 930px) {
  .week-left {
    text-align: right;
    margin-left: 0;
  }
}

@media (max-width: 929px) {
  .week-left {
    text-align: left;
    margin-left: 5%;
  }
}

.week-right {
  text-align: left;
}

@media (min-width: 930px) {
  .week-right {
    margin-left: 0;
  }
}

@media (max-width: 929px) {
  .week-right {
    margin-left: 5%;
  }
}

.week1 {
  grid-area: week1;
}

.week2 {
  grid-area: week2;
}

.week3 {
  grid-area: week3;
}

.week4 {
  grid-area: week4;
}

.week5 {
  grid-area: week5;
}

.week6 {
  grid-area: week6;
}

.week7 {
  grid-area: week7;
}

.empty1 {
  grid-area: empty1;
}

.empty2 {
  grid-area: empty2;
}

.empty3 {
  grid-area: empty3;
}

.empty4 {
  grid-area: empty4;
}

.empty5 {
  grid-area: empty5;
}

.empty6 {
  grid-area: empty6;
}

.empty7 {
  grid-area: empty7;
}

@media (min-width: 930px) {
  .empty {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 929px) {
  .empty {
    display: none;
  }
}

.speakers-logo {
  width: 91px;
  height: 45px;
  margin: 0 3%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.speakers-title {
  margin: 5px;
}

@media (max-width: 850px) {
  .speakers-title-area {
    margin: 0 auto;
  }
}

.speakers-area {
  margin: 45px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1100px) {
  .speakers-area {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1099px) {
  .speakers-area {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.speaker-pic {
  width: 190px;
  height: 190px;
  margin: 0 auto;
}

.speaker-name {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}

.speaker-info {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}

.speaker-bio {
  width: 143px;
  height: 44px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.subscribe {
  margin: 0 auto;
}

@media (min-width: 787px) {
  .subscribe {
    width: 547px;
  }
}

@media (max-width: 786px) {
  .subscribe {
    width: 90%;
  }
}

.subscribe-subtitle {
  margin: 0 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}

.subscribe-area {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.subscribe-form {
  position: relative;
  margin-top: 10%;
}

@media (min-width: 676px) {
  .subscribe-form {
    width: 100%;
    position: relative;
  }
}

@media (min-width: 501px) and (max-width: 675px) {
  .subscribe-form {
    width: 60%;
    margin: 10% auto 0;
    position: relative;
  }
}

@media (max-width: 500px) {
  .subscribe-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
  }
}

.subscribe-input {
  height: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px 0px 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  color: white;
}

@media (min-width: 676px) {
  .subscribe-input {
    width: 480px;
  }
}

@media (max-width: 675px) {
  .subscribe-input {
    width: 200px;
    margin: 0 auto;
  }
}

.subscribe-input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: large;
}

.subscribe-input:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: large;
}

.subscribe-input::-ms-input-placeholder {
  color: #FFFFFF;
  font-size: large;
}

.subscribe-input::placeholder {
  color: #FFFFFF;
  font-size: large;
}

.subscribe-button {
  position: absolute;
  width: 160px;
  height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
  right: -5%;
  bottom: 0;
}
/*# sourceMappingURL=main.css.map */