.about {
    display: grid;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1450px) {
        grid-template-columns: 1fr 2fr;
    }

    @media (max-width: 1449px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    &-area {
        @media (min-width: 1450px) {
            margin-left: 10%;
            width: 75%;
        }

        @media (max-width: 1449px) {
            margin-left: 1%;
            width: 100%;
        }
    }

    &-pics {
        @media (min-width: 756px) {
            width: 526px;
            height: 499px;
            background-image: url("../pics/about/rectangle.png");
            position: relative;
        }

        @media (max-width: 755px) {
            background: transparent;
            width: 100%;
            position: static;
        }
    }

    &-computer {
        position: absolute;
        top: 95px;
        left: 40px;

        @media (max-width: 755px) {
            width: 100%;
            height: auto;
            position: static;
        }
    }

    &-title {
        text-align: left;
    }

    &-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: $white;
    }
}