.partners {

    &-logo {
        margin-right: 15px;
        margin-left: 25px;
    }

    &-title {
       
    }

    &-container {
        width: 100%;
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(205px, 260px));
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: stretch;
        justify-content: center;
        margin: 0 auto;
        
        @media (min-width: 1420px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        @media (min-width: 801px) and (max-width: 1419px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(1fr);
        }
    }

}

.partner {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid rgba(255, 255, 255, 0.3);

    // &:nth-child(-n+4) {
    //     border-bottom: 5px solid rgba(255, 255, 255, 0.3);
    // }

    & img {
        width: 198px;
        height: 93px;

    }

    // &1 {
    //     border-bottom: 1px solid $white;
    // }
}

.desktop-right {
    @media (min-width: 1420px) {
        border-right: 5px solid rgba(255, 255, 255, 0.3);
    }
}

.desktop-underline {
    @media (min-width: 1420px) {
        border-bottom: 5px solid rgba(255, 255, 255, 0.3);
    }
}

.tablet-right {
    @media (min-width: 801px) and (max-width: 1419px) {
        border-right: 5px solid rgba(255, 255, 255, 0.3);
    }
}

.tablet-underline {
    @media (min-width: 801px) and (max-width: 1419px) {
        border-bottom: 5px solid rgba(255, 255, 255, 0.3);
    }
}

.mobile-underline {   
    @media (max-width: 800px) {
        border-bottom: 5px solid rgba(255, 255, 255, 0.3);
    }
}